*~
*.elc
*.eln
\#*\#
.\#*
*-autoloads.el
.elc

/auto-save-list/
/backups/
/cache/
/eln-cache/
/transient/
/eshell/history
/url/
/bookmarks
/history
/places/
nov-places
/recentf

/elpa/
/straight/
/quelpa/
/.emacs.desktop*

.lsp-session*
.lsp-session-*
dap-breakpoints

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo

# Local secrets (if you add any)
secrets.el
local.el